{% load static %}

<!doctype html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/registration/login.css' %}">
    </head>
    <body>
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-6"> 
                    <div class="card"> 
                        <form class="box" method="POST"> 
                            {% csrf_token %}
                            <h1>Register</h1> 
                            <p class="text-muted"> Please enter your username and password!</p> 
                            {{ form.username }}
                            {{ form.errors.name }}
                            {{ form.password1 }}
                            {{ form.errors.password1 }}
                            {{ form.password2 }}
                            {{ form.errors.password2 }}
                            <input type="submit" name="" value="Register">
                            <a class="text-muted" href="{% url 'login_url' %}">Already registered? Login</p> 
                        </form> 
                    </div> 
                </div> 
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
